.profile {
    width: 100px;
    display: block;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
    color: dimgrey;
}
.box {
    width: 100px;
    background: aqua;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 16px;
}
