.profile {
    width: 100px;
    display: block;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
    color: dimgrey;
}
.box {
    width: 100px;
    background: aqua;
    margin: 30px;
}
